#define IDI_ICON1 1
IDI_ICON1 ICON "data/txtf_final.ico"
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "zsgbp"
            VALUE "FileDescription", "TXT At Finder"
            VALUE "FileVersion", "1.0.0"
            VALUE "ProductName", "TXTF"
            VALUE "LegalCopyright", "© 2026 NIA_sai"
        END
    END
END